.search__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
  border-bottom: 1.2px solid #00ff55;
} 

.search__user > .MuiSvgIcon-root {
  font-size: 45px;
  margin-left: 10px;
  margin-right: 10px;
}

.search__user__userInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.search__user__name {
  font-weight: 550;
  margin-bottom: 5px;
}

.search__user__username {
  font-size: 14px;
  font-weight: 300;
}


.search__user__addButton {
  font-size: 13px;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #ffe600;
  border-radius: 7px;
  border: none;
  outline-width: 0;
}

.search__user__addButton:hover {
  background-color: #00ff55;
}
