.user__zone__createRoom {
  display: flex;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

.user__zone__createRoom__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  place-content: center;
  margin: 10px 5px;
}

.user__zone__createRoom__form__input {
  width: 90%;
  padding: 3px;
  margin-bottom: 15px;
  font-size: 15px;
  border: none;
  border-bottom: 1.2px solid white;
  outline-width: 0;
  background-color: transparent;
  color: white;
  transition: border-color 0.4s ease;
}

.user__zone__createRoom__form__input::placeholder {
  color: #ffffffa2;
}

.user__zone__createRoom__form__input:focus {
  border-color: #00ff55;
}

.user__zone__createRoom__form__button {
  padding: 10px;
  background-color: #ffe600;
  font-size: 14px;
  font-weight: 550;
  border: none;
  outline-width: 0;
  transition: background-color 1s ease;
  cursor: pointer;
}

.user__zone__createRoom__form__button:hover {
  background-color: #00ff55;
}
