.login {
  border: 1.5px solid #a5d3ff;
  box-shadow: 1px 1px 1px 0 #357bff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 320px;
  -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}

.login__header {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.login__header__button {
  width: 50%;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  background-color: #357bff;
  border-left: 1.2px solid #c7c7c7;
  border-bottom: 2px solid #357bff;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.signup__button {
  background-color: #35d0ff;
  border-left: none;
  border-bottom: 2px solid #35d0ff;
}

.login__header__button:hover{
  border-bottom: 2px solid #a50844;
}

.login__header__button:focus{
  border-bottom: 2px solid #1bcc7a;
}

.login__footer {
  display: flex;
  flex-direction: column;
}

.login__form__container {
  width: 100%;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__input {
  font-size: 15px;
  text-align: center;
  padding: 10px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1.2px solid #c7c7c7;
  outline-width: 0;
  transition: border-color 0.5s ease;
}

.login__input:focus {
  border-color: #357bff;
}

.login__button__container {
  display: flex;
  place-content: center;
}

.login__button {
  font-size: 16px;
  font-weight: 550;
  padding: 10px;
  margin-top: 35px;
  width: 40%;
  border: 2.5px solid #357bff;
  background-color: #3b4568;
  color: white;
  transition: all 0.4s ease-in;
  cursor: pointer;
}

.login__button:hover {
  background-color: #357bff;
  border-color: #3b4568;
}

.login__button:focus {
  background-color: #35d0ff;
  border-color: #357bff;
}